<%- include('../partials/header') %>

<h2>Enter a New Ticket</h2>
<form action="/tickets/<%= flightId %>/new" method="POST">
  <label>Seat:
    <input type="text" name="seat" required pattern="[A-F][1-9]\d?">
  </label><br>
  <label>Price:
    <input type="number" name="price" required min=0>
  </label><br>
  <button type="submit">Add Ticket</button>
</form>

<%- include('../partials/footer') %>